gradio
requests
langgraph
langchain
langchain-openai
duckduckgo-search
langchain-community
apify-client
beautifulsoup4
html2text
supabase
pandas
tabulate
pytube
youtube-transcript-api
python-dotenv
whisper
yt_dlp
wikipedia
arxiv
tavily
openai
